name: 1. Build

on:
  - push
  - workflow_dispatch

permissions: write-all

env:
  ARTIFACTORY_USERNAME: ${{'{'}}{ secrets.ARTIFACTORY_USERNAME }}
  ARTIFACTORY_IDENTITY_TOKEN: ${{'{'}}{ secrets.ARTIFACTORY_IDENTITY_TOKEN }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    outputs:
      digest: ${{'{'}}{ steps.docker-publish.outputs.image-digest }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: p6m-actions/dotnet-setup@v1

      - name: Build .NET Application
        uses: p6m-actions/dotnet-build@v1
        with:
          run-tests: true
          publish-artifacts: true

      - name: Cut Patch Version
        if: github.ref_name == 'main'
        id: cut-patch
        uses: p6m-actions/dotnet-cut-tag@v1
        with:
          version-level: patch

      - name: Login to Docker Repository
        if: github.ref_name == 'main'  
        uses: p6m-actions/docker-repository-login@v1
        with:
          registry: ${{'{'}}{ vars.ARTIFACTORY_HOSTNAME }}
          username: ${{'{'}}{ secrets.ARTIFACTORY_USERNAME }}
          password: ${{'{'}}{ secrets.ARTIFACTORY_IDENTITY_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: p6m-actions/docker-buildx-setup@v1

      - name: Build and Publish Docker Image
        id: docker-publish
        uses: p6m-actions/docker-buildx-build-publish@v1
        with:
          image-name: {{ prefix-name }}-{{ suffix-name }}-server
          image-tag: ${{'{'}}{ steps.cut-patch.outputs.version || format('dev-{0}', github.sha) }}
          registry: ${{'{'}}{ vars.ARTIFACTORY_HOSTNAME }}/${{'{'}}{ vars.ARTIFACTORY_PROJECT }}-docker-local/applications
          platforms: linux/amd64,linux/arm64
          push: ${{'{'}}{ github.ref_name == 'main' }}
          skip-setup: true
          builder-name: ${{'{'}}{ steps.buildx.outputs.name }}
          secrets: |
            artifactory-username=${{'{'}}{ secrets.ARTIFACTORY_USERNAME }}
            artifactory-identity-token=${{'{'}}{ secrets.ARTIFACTORY_IDENTITY_TOKEN }}

      - name: Publish to .NET Repository
        if: github.ref_name == 'main'
        uses: p6m-actions/dotnet-repository-publish@v1
        with:
          repositories: |
            ${{'{'}}{ vars.ARTIFACTORY_PROJECT }}-nuget
        env:
          NUGET_API_KEY: "${{'{'}}{ secrets.ARTIFACTORY_USERNAME }}:${{'{'}}{ secrets.ARTIFACTORY_IDENTITY_TOKEN }}"

      - name: Make Artifacts
        if: github.ref_name == 'main'  
        run: |
          echo '${{'{'}}{ steps.docker-publish.outputs.image-digest }}' | tee digest.txt

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        if: github.ref_name == 'main'  
        with:
          name: Version ${{'{'}}{ steps.cut-patch.outputs.version }}
          tag: ${{'{'}}{ steps.cut-patch.outputs.tag }}
          makeLatest: true
          artifacts: "digest.txt"
          removeArtifacts: true
          generateReleaseNotes: true
          body: |
            Application version: `${{'{'}}{ steps.cut-patch.outputs.version }}`
            Docker image digest: `${{'{'}}{ steps.docker-publish.outputs.image-digest }}`
  
  update-application-manifest:
    name: Update Application Manifest
    if: github.ref_name == 'main'
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Update Application Manifest
        uses: p6m-actions/platform-application-manifest-dispatch@v1
        with:
          repository: ${{'{'}}{ github.repository }}
          image-name: {{ prefix-name }}-{{ suffix-name }}
          environment: "dev"
          digest: ${{'{'}}{ needs.build.outputs.digest }}
          update-manifest-token: ${{'{'}}{ secrets.UPDATE_MANIFEST_TOKEN }}
          platform-dispatch-url: ${{'{'}}{ vars.PLATFORM_DISPATCH_URL }}
          directory-name: {{ prefix-name }}-{{ suffix-name }}        
        
