name: 2. Cut Tag & Release

on:
  workflow_dispatch:
    inputs:
      version-level:
        description: "Version bump level"
        required: true
        type: choice
        options:
          - patch
          - minor
          - major
        default: patch

permissions: write-all

run-name: Cut ${{'{'}}{ inputs.version-level }} tag by @${{'{'}}{ github.triggering_actor }}

jobs:
  tag_and_release:
    name: Tag & Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: p6m-actions/dotnet-setup@v1

      - name: Build .NET Application
        uses: p6m-actions/dotnet-build@v1
        with:
          run-tests: false
          publish-artifacts: true

      - name: Cut Tag
        id: cut-tag
        uses: p6m-actions/dotnet-cut-tag@v1
        with:
          version-level: ${{'{'}}{ inputs.version-level }}

      - name: Login to Docker Repository
        uses: p6m-actions/docker-repository-login@v1
        with:
          registry: ${{'{'}}{ vars.ARTIFACTORY_HOSTNAME }}
          username: ${{'{'}}{ secrets.ARTIFACTORY_USERNAME }}
          password: ${{'{'}}{ secrets.ARTIFACTORY_IDENTITY_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: p6m-actions/docker-buildx-setup@v1

      - name: Build and Publish Docker Image
        id: docker-publish
        uses: p6m-actions/docker-buildx-build-publish@v1
        with:
          image-name: {{ prefix-name }}-{{ suffix-name }}-server
          image-tag: ${{'{'}}{ steps.cut-tag.outputs.version }}
          registry: ${{'{'}}{ vars.ARTIFACTORY_HOSTNAME }}/${{'{'}}{ vars.ARTIFACTORY_PROJECT }}-docker-local/applications
          platforms: linux/amd64,linux/arm64
          push: true
          skip-setup: true
          builder-name: ${{'{'}}{ steps.buildx.outputs.name }}
          secrets: |
            artifactory-username=${{'{'}}{ secrets.ARTIFACTORY_USERNAME }}
            artifactory-identity-token=${{'{'}}{ secrets.ARTIFACTORY_IDENTITY_TOKEN }}

      - name: Publish to .NET Repository
        uses: p6m-actions/dotnet-repository-publish@v1
        with:
          repositories: |
            ${{'{'}}{ vars.ARTIFACTORY_PROJECT }}-nuget
        env:
          NUGET_API_KEY: "${{'{'}}{ secrets.ARTIFACTORY_USERNAME }}:${{'{'}}{ secrets.ARTIFACTORY_IDENTITY_TOKEN }}"

      - name: Make Artifacts
        run: |
          echo '${{'{'}}{ steps.docker-publish.outputs.image-digest }}' | tee digest.txt

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          name: Version ${{'{'}}{ steps.cut-tag.outputs.version }}
          tag: ${{'{'}}{ steps.cut-tag.outputs.tag }}
          makeLatest: true
          artifacts: "digest.txt"
          removeArtifacts: true
          generateReleaseNotes: true
          body: |
            Application version: `${{'{'}}{ steps.cut-tag.outputs.version }}`
            Docker image digest: `${{'{'}}{ steps.docker-publish.outputs.image-digest }}`
